.Insurances {
  max-height: 100%;
  flex: 3;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  grid-gap: 1rem;
  background-color: #e41cac;
}
.Insurances::-webkit-scrollbar {
  width: 0.4rem; /* width of the entire scrollbar */
}
.Insurances::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
.Insurances::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scroll thumb */
  border: 3px solid #ccc; /* creates padding around scroll thumb */
}
