.Filter {
  max-height: 100%;
  flex: 1;
  padding: 0.5rem;
  background: var(--chubb-yellow);
  overflow-y: auto;
}

.Filter::-webkit-scrollbar {
  width: 0.8rem; /* width of the entire scrollbar */
}
.Filter::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
.Filter::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scroll thumb */
  border: 3px solid tan; /* creates padding around scroll thumb */
}

.FilterHeader {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.InfoHeader {
  font-size: 0.8rem;
  letter-spacing: 0.04em;
  font-weight: 400;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid black;
}

.Insurances {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.Placeholder {
  font-size: 0.8rem;
  letter-spacing: 0;
}

.PriceRangePicker {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PriceIndicator {
  display: flex;
  width: 100%;
  gap: 0.1rem;
  align-items: center;
  margin-top: 0.4rem;
}
.PaymentType {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.ActiveLabel {
  color: var(--special-blue);
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
}
.InActiveLabel {
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.CurrencyLabel {
  font-size: 0.8rem;
  font-weight: 400;
}

.InputBox {
  font-size: 0.8rem;
  outline: #ccc;
  border: 1.5px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.4rem;
  transition: 0.3s ease all;
}

.InputBox:active,
.InputBox:focus,
.InputBox:focus-within {
  border: 1.5px solid #0072bb;
}

.PriceRangeHeader {
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  font-weight: 500;
}

.InsuranceTypes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Button {
  padding: 1rem;
  background-color: var(--chubb-yellow);
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s ease-in;
  outline: none;
  font-size: 1rem;
}

.Button:hover {
  scale: 0.96;
}

.Apply {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ButtonSmall {
  padding: 0.4rem;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s ease-in;
  outline: none;
  font-size: 1rem;
}

.ButtonSmall:hover {
  scale: 0.96;
}
